<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Life Campus Fellowship</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" >
    <link href="css/style.css"  rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link href="owl.carousel.min.css" rel="stylesheet">
    <link href="owl.theme.default.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css " rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- Navbar Begins -->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container"> 
      <div class="float-right" style="width: 80%;"> 
        <a class="navbar-brand" href="/"><img src="../img/new life logo.png" style="width: 12%;"></a>
      </div>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav" style="text-align: right;">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/events" class="nav-link">Events</a></li>
          <li class="nav-item"><a href="/messages" class="nav-link">Messages</a></li>
          <li class="nav-item"><a href="/blogs" class="nav-link">Blogs</a></li>
          <li class="nav-item active"><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
      </div>     
    </div>
  </nav>
<!-- Navbar Ends -->

  <div class="contact-top-img">
   <h2 class="top-text">Contact Us</h2><br>
  </div>
    
  <section class="ftco-section contact-section ftco-degree-bg">
    <div class="container" style="background-color: #F7FAFF;">
      <div class="row d-flex mb-5 contact-info">
        <div class="col-md-12 mb-4">
          <h2 class="h4">Contact Information</h2>
        </div>
        <div class="w-100"></div>
        <div class="col-md-3">
          <p><span>Address:</span> Futa Southgate, Akure</p>
        </div>
        <div class="col-md-3">
          <p><span>Phone:</span> <a href="tel://09075870702">+ 2349075870702</a></p>
        </div>
        <div class="col-md-3">
          <p><span>Email:</span> <a href="mailto:bayodeenoch@gmail.com">futanlcf@gmail.com</a></p>
        </div>
        <div class="col-md-3">
          <p><span>Website</span> <a href="#">yoursite.com</a></p>
        </div>
      </div>
      <div class="row block-9">
        <div class="col-md-6 pr-md-5">

          <form action="/contact-us" method="POST" id="contact-form" role="form">
            <div class="form-group">
              <input type="name" class="form-control" name='name' placeholder="Your Name" aria-describedby="nameHelp" required>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Your Email" aria-describedby="emailHelp" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="Subject" placeholder="Subject" aria-describedby="nameHelp" require>
            </div>
            <div class="form-group">
              <textarea name="message" id="" cols="30" rows="7" class="form-control" placeholder="Message" requird></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
            </div>
          </form>
        
        </div>

        <div class="col-md-6" id="map"></div>
      </div>
    </div>
  </section>

  <div class="section"></div>

  <!-- bottom  section-->
  <div class="bottom-section">
    <hr style="background-color: gold; height: 2px;">
    <!-- <div class="container"> -->
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <div class="section">
            <div class="row">
              <div class="col-sm-3">
                <div class="" style="width: 10%; height: 10%;">
                  <img src="../img/new life logo.pn"><br><br>
                </div>
                <span style="color: #768495;"><i class="fa fa-map-marker" aria-hidden="true"></i> 153 William plaza Futa, Akure</span><br><br>
                
                <span><a href="" class="btm-link blog-a"><i class="fa fa-phone" aria-hidden="true"></i> +234 8102396347</a></span><br><br>
              </div>
  
              <div class="col-sm-3">
                <h3 style="color: white;">Quick links</h3><br><br>
                <span><a href="" class="btm-link blog-a"> About us</a></span><br><br>
                <span><a href="" class="btm-link blog-a"> Contact us</a></span><br><br>
                <span><a href="" class="btm-link blog-a"> Sermons</a></span><br><br>
                <span><a href="" class="btm-link blog-a"> Events</a></span><br><br>
                <span><a href="" class="btm-link blog-a"> Blogs</a></span><br><br>
                
              </div>
  
              <div class="col-sm-3">
                <h3 style="color: white;">Get this</h3><br><br>
                <span><a href="" class="btm-link blog-a"> The spirit & the flesh</a></span><br><br>
                <span><a href="" class="btm-link blog-a"> Spiritual fruitfulness</a></span><br><br>
                <span><a href="" class="btm-link blog-a"> Dominion through the word</a></span><br><br>
              </div>
  
              <div class="col-sm-3">
                <h3 style="color: white;">Service Days</h3><br><br>
                <span style="color: #768495;"> Tuesday: Bible study<br>
                <i class="fa fa-clock-o" aria-hidden="true" style="color: #768495;"></i><span class="" style="color: #768495;"> 6:00pm - 7:30pm</span><br><br>
  
                <span> Friday: Destiny Clinic</span><br>
                <i class="fa fa-clock-o" aria-hidden="true" style="color: #768495;"></i><span class="" style="color: #768495;"> 6:00pm - 7:30pm</span><br><br>
  
                <span> Sunday: Glorious Service</span><br>
                <i class="fa fa-clock-o" aria-hidden="true" style="color: #768495;"></i><span class="" style="color: #768495;"> 8:00am - 10:30am</span><br><br>
              </div>
  
              
            </div>
            <hr style="background-color: gold;">
            <center>
              <p style="color: white;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe quae blanditiis provident? Dolores nesciunt dignissimos </p>
              <!--twitter-->
              <a href=""><button type="button" class="btn social-link"><i class="fa fa-twitter"></i></button></a>
              <!--Google-->
              <a href=""><button type="button" class="btn social-link"><i class="fa fa-whatsapp"></i> </button></a>
              <!--Google-->
              <a href=""><button type="button" class="btn social-link"><i class="fa fa-facebook"></i> </button></a>
              <!--Google-->
              <a href=""><button type="button" class="btn social-link"><i class="fa fa-instagram"></i> </button></a>
              <!--Youtube-->
              <a href=""><button type="button" class="btn social-link"><i class="fa fa-youtube"></i> </button></a>
            </center>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    <!-- </div> -->
    
  </div>
  <!-- Bottom section Ends -->

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="Js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" type="text/javascript" ></script>
    <script src="Js/main.js" ></script>
</body>
</html>