<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Life Campus Fellowship</title>
    <link rel="shortcut icon" href='../img/new life logo.png'  type="image/x-icon">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" >
    <link href="css/style.css"  rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link href="owl.carousel.min.css" rel="stylesheet">
    <link href="owl.theme.default.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css " rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src="https://smtpjs.com/v3/smtp.js"></script>
</head>

<body>
  <div id="loader" class="center"></div>
  <!-- Navbar Begins -->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container"> 
      <div class="float-right" style="width: 80%;"> 
        <a class="navbar-brand" href="/"><img src="../img/new life logo.png" style="width: 12%;"></a>
      </div>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav" style="text-align: right;">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/events" class="nav-link">Events</a></li>
          <li class="nav-item"><a href="/messages" class="nav-link">Messages</a></li>
          <li class="nav-item"><a href="/blogs" class="nav-link">Blogs</a></li>
          <li class="nav-item active"><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
      </div>     
    </div>
  </nav>
<!-- Navbar Ends -->

  <div class="contact-top-img">
   <h2 class="top-text">Contact Us</h2><br>
  </div>
    
  <section class="ftco-section contact-section ftco-degree-bg">
    <div class="container" style="background-color: #F7FAFF;">
      <div class="row d-flex mb-5 contact-info">
        <div class="col-md-12 mb-4">
          <h2 class="h4">Contact Information</h2>
        </div>
        <div class="w-100"></div>
        <div class="col-md-3">
          <p><span>Address:</span>Opposite redemption lodge, Apatapiti Futa Southgate, Akure</p>
        </div>
        <div class="col-md-3">
          <p><span>Phone:</span> <a href="tel://08025379069">+234 8025379069</a></p>
        </div>
        <div class="col-md-3">
          <p><span>Email:</span> <a href="mailto:nlcffuta7@gmail.com">nlcffuta7@gmail.com</a></p>
        </div>
        
      </div>
      <div class="row block-9">
        <div class="col-md-6 pr-md-5">

          <form action="/contact-us" method="POST" id="contactForm" role="">
            <div class="form-group">
              <input  type="name" class="form-control" id="name" name='name' placeholder="Your Name" aria-describedby="nameHelp" required>
            </div>
            <div class="form-group">
              <input  type="email" class="form-control" id="email" name="email" placeholder="Your Email" aria-describedby="emailHelp" required>
            </div>
            <div class="form-group">
              <input  type="subject" class="form-control" id="subject" name="subject" placeholder="Subject" aria-describedby="nameHelp" require>
            </div>
            <div class="form-group">
              <textarea  name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Message" required></textarea>
            </div>
            <div class="form-group">
              <input  type="submit" name="submit" id="submit" value="Send Message" class="btn btn-primary py-3 px-5">
            </div>
          </form>
        
        </div>

        <div class="col-md-6" id="map"></div>
      </div>
    </div>
  </section>

  <div class="section"></div>

  <!-- bottom  section-->
  <div class="bottom-section">
    <hr style="background-color: rgb(212, 181, 6); height: 2px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <br><br>
          <span class="name">New Life Campus</span><br>
          <span class="name-lite">Fellowship, FUTA.</span><br><br>
          
          <p class="btm-dsg">Connect with us on our social media platforms</p>

          <!--twitter-->
          <a href="https://twitter.com/new_futa?s=09"><button type="button" class="btn social-link"><i class="fa fa-twitter"></i></button></a>
          <!--Google-->
          <a href="https://chat.whatsapp.com/DT3Ga9NbHtDLlbDOpQYawN"><button type="button" class="btn social-link"><i class="fa fa-whatsapp"></i> </button></a>
          <!--Google-->
          <a href="https://m.facebook.com/profile.php?id=100014057236005&ref=content_filter"><button type="button" class="btn social-link"><i class="fa fa-facebook"></i> </button></a>
          <!--Google-->
          <a href="https://instagram.com/nlcffuta" target="_blank" rel="noopener noreferrer"><button type="button" class="btn social-link"><i class="fa fa-instagram"></i> </button></a>
          <!--Youtube-->
          <a href="https://m.youtube.com/channel/UC4Ia7o0Fw41BJpVrNqdeeYg"><button type="button" class="btn social-link"><i class="fa fa-youtube"></i> </button></a>
        </div>
        
        <div class="col-sm-2">
          <br><br>
          <h4 class="btm-dsg">Quick Links</h4><br><br>
          <span><a href="/about" class="btm-link blog-a"> About us</a></span><br><br>
          <span><a href="/contact" class="btm-link blog-a"> Contact us</a></span><br><br>
          <span><a href="/messages" class="btm-link blog-a"> Messages</a></span><br><br>
          <span><a href="/events" class="btm-link blog-a"> Events</a></span><br><br>
          <span><a href="/blogs" class="btm-link blog-a"> Blogs</a></span><br><br>
        </div>

        <div class="col-sm-3">
          <br><br>
          <h4 class="btm-dsg">Contact Information</h4><br><br>
          <span class="btm-dsg"><i class="fa fa-map-marker" aria-hidden="true"></i>  Opposite redemption lodge, Apatapiti FUTA South gate Akure</span><br><br>
          <span><a href="tel:08025379069" class="btm-link blog-a"><i class="fa fa-phone" aria-hidden="true"></i>   +234 8025379069</a></span><br><br>
        </div>

        <div class="col-sm-3">
          <br><br>
          <h4 class="btm-dsg">Service Days</h4><br><br>
          <span class="btm-dsg"> Tuesday: Bible study<br>
          <i class="fa fa-clock-o btm-dsg" aria-hidden="true"></i><span class="btm-dsg">  6:00pm - 7:30pm</span><br><br>

          <span> Friday: Destiny Clinic</span><br>
          <i class="fa fa-clock-o btm-dsg" aria-hidden="true"></i><span class="btm-dsg">  6:00pm - 7:30pm</span><br><br>

          <span> Sunday: Glorious Service</span><br>
          <i class="fa fa-clock-o btm-dsg" aria-hidden="true"></i><span class="btm-dsg">  8:00am - 10:30am</span><br><br><br><br><br>
        </div>

      </div>
          
    </div><br>
    
  </div>
  <!-- Bottom section Ends -->


   <script>

     console.log(document.querySelector('#submit'))
    //document.querySelector('#submit').onclick = function(){ 
      //alert('shit')
    //}


    //Window.onload=function(){
      document.getElementById('contactForm').addEventListener('submit',submitForm);

      function submitForm(e){
        e.preventDefault();
        var name = getInputVal('name');
        var email = getInputVal('email');
        var subject = getInputVal('subject');
        var message = getInputVal('message');


        console.log(name, email, subject, message)
    
        document.getElementById('contactForm').reset();
    
        //saveMessage(name, email, subject, message);
    
      sendEmail(name, email, subject, message);
    
      }
    
      function getInputVal(id){
      return document.getElementById(id).value;
      }
    
      function saveMessage(name, email, subject, message){
        var newMessageRef = db.push();
        newMessageRef.set({
          name: name,
          email: email,
          subject: subject,
          message: message
        });
      }
    
      function sendEmail(name, email, subject, message){
        Email.send({
          Host: "smtp.gmail.com",
          Username: 'bayodeenoch@gmail.com',
          Password: "ypegbnvmquwephqe",
          To: 'bayodeenoch@gmail.com',
          From: 'bayodeenoch@gmail.com',
          Subject: `${name} send you a message`,
          Body: `Name : ${name},
                Email : ${email}, 
                Subject : ${subject}, 
                Message: ${message}`
    
        })
      }
  
  </script>
  
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> -->
    <script src="Js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" type="text/javascript" ></script>
    <script src="Js/main.js" ></script>
</body>
</html>